# All lines start with # comments
# All the comments must define before the keywork which start with *
# Authors: Van-Dung NGUYEN Mars 2023
#----------------------------------------------
# specify the preCICE config file
# all the specifications must be compatible with the ones declared in the preCICE configure file
*PRECICE_CONFIG_FILE
../precice-config.xml
#----------------------------------------------
# specify solver name
*SOLVER_NAME
Solid
#----------------------------------------------
# specify the mesh name
*MESH_NAME
Solid-Mesh
#----------------------------------------------
# specify the data to write to send to other solvers
# A number of data followed by their names
*DATA_WRITE
1
Displacement 
#----------------------------------------------
# specify the data to read from other solvers
# A number of data followed by their names
*DATA_READ
1 
Pressure
#specify how to contruct the external force from coupling
# a number of cases
# in each case, a number of parameters followed by their values
# if their is no parameters, a value equal to 0 is used
*FORCE_INTERFACE
1
Pressure 0
